@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mohave:wght@300&family=Rubik+Wet+Paint&family=Source+Sans+Pro:wght@200&display=swap");

html {
  height: 100vh;
}
body {
  min-height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
}
.TodoList {
  border-right: 2px solid grey;
  width: 40%;
  height: 100vh;
}
.div-project-todos {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.item-text {
  border: 1px solid grey;
  display: flex;
  width: 100%;
  height: 100%;
  word-break: break-all;
  margin-top: 10px;
}
.trash-check {
  border: 1px solid grey;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  text-align: end;
  align-items: flex-end;
}
.counter {
  border: 1px solid grey;
  margin-bottom: 10px;
  margin-top: 10px;
}
.div-under-counter {
  border: 1px solid grey;
  margin-bottom: 10px;
}
.input {
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  width: 140px;
}
.input-todos {
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  width: 140px;
}
.project-map {
  border: 1px solid grey;
  cursor: pointer;
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.item-delete {
  border: 1px solid grey;
  cursor: pointer;
  height: 100%;
  width: 20px;
  justify-content: flex-end;
  align-items: flex-end;
}
.todos-map {
  border: 1px solid grey;
  font-weight: bold;
  width: 48%;
  height: 100%;
}

.current-name {
  border: 1px solid grey;
  margin-top: 30px;
  /* margin-left: -110px; */
  margin-bottom: 20px;
  width: 100%;
  word-break: break-all;
}
.todos-map-div {
  border: 1px solid grey;
  margin-top: 15px;
}
